---
layout: default
title: Home
---

<!-- <img class="img-fluid img-thumbnail" src="common_images/main-site-joke.jpg" alt="" width="350" height="350"> -->

<h3 class="list-title">Technical Blogs</h3>

<ul>
  {% for post in site.posts %}
  <li class="post-preview">
    <a href="{{post.url}}">
      <h2 class="title">
        <span>{{post.title}}</span>    
      </h2>
      <time>{{post.date | date_to_string}}</time>
    </a>
  </li>
  {% endfor %}
</ul>


<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->