header {
    text-align: center;
}

h3 {
    font-size: 1.25rem !important;
    font-weight: bolder !important;
    margin: 20px 0 10px 0 !important;
}

h4 {
    font-size: 1rem !important;
    font-weight: bolder !important;
    margin: 20px 0 10px 0 !important;
}


.img-thumbnail {
    padding: 0 !important;
    border-radius: 0 !important;
}

.portfolio {
    line-height: 1.25;
    word-break: break-word;
    font-size: 150%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.description {
    color: grey !important;
}